<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebDevs Blog</title>
    <link rel="icon" type="icon" href="/images/logoWithoutText.png">
    <link rel="stylesheet" href="../../public/css/style.css">

</head>

<body>
    <header class="header-bar">
        <a href="main.html" class="home-btn">
            Home
        </a>
        <a href="../dashboard.html" class="dash-btn">
            Dashboard
        </a>
        <a href="main.html" class="date">
            February 17 ,2023
        </a>
        <div class="logged-in">
            <a href="../login.html" class="login-button btn">
                Login / Register
            </a>
        </div>
    </header>

    <main class="container">
        <div class="home-banner">
            <h1>WebDevs Blog</h1>
            <p>
                Place to share opinions and experiences about website development
            </p>
        </div>
        <section class="section-comments">
            <div class="comment-box">
                <a href="../board.html" class="comment-header">
                    <h2>ChatGPT opinions!!!!</h2>
                    <p>Posted by <span>Johnny Rogers</span> on 17/02/2023</p>
                </a>
                <a href="../board.html" class="comment-message">
                    <p>
                        As you've probably noticed, ChatGBT has taken the search world by storm. What are your opinions
                        about it? Will it help us or will it cause more issues and require fewer programmers to work
                        harder?
                    </p>
                </a>
                <div class="comment-footer">
                    <a href="https://github.com/cdennis27" class="add-comment-btn btn">Add Comments</a>
                    <a href="../board.html" class="comments-length">Comments: 0</a>
                </div>
            </div>

            <div class="comment-box">
                <a href="../board.html" class="comment-header">
                    <h2>ChatGPT opinions!!!!</h2>
                    <p>Posted by <span>Johnny Rogers</span> on 17/02/2023</p>
                </a>
                <a href="../board.html" class="comment-message">
                    <p>
                        As you've probably noticed, ChatGBT has taken the search world by storm. What are your opinions
                        about it? Will it help us or will it cause more issues and require fewer programmers to work
                        harder?
                    </p>
                </a>
                <div class="comment-footer">
                    <a href="https://github.com/cdennis27" class="add-comment-btn btn">Add Comments</a>
                    <a href="http://www.google.com" class="comments-length">Comments: 0</a>
                </div>
            </div>

            <div class="comment-box">
                <a href="../board.html" class="comment-header">
                    <h2>ChatGPT opinions!!!!</h2>
                    <p>Posted by <span>Johnny Rogers</span> on 17/02/2023</p>
                </a>
                <a href="../board.html" class="comment-message">
                    <p>
                        As you've probably noticed, ChatGBT has taken the search world by storm. What are your opinions
                        about it? Will it help us or will it cause more issues and require fewer programmers to work
                        harder?
                    </p>
                </a>
                <div class="comment-footer">
                    <a href="https://github.com/cdennis27" class="add-comment-btn btn">Add Comments</a>
                    <a href="../board.html" class="comments-length">Comments: 0</a>
                </div>
            </div>




        </section>

        <!-- {{{ body }}}   -->
    </main>

    <footer class="footer">
        <h2>Contact information</h2>

    </footer>
    </div>

</body>