<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebDevs Blog</title>
    <link rel="icon" type="icon" href="/images/logoWithoutText.png">
    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>
    <header class="header-bar">
        <a href="./layouts/main.html" class="home-btn">
            Home
        </a>
        <a class="dash-btn">

        </a>
        <a href="./layouts/main.html" class="date">
            February 17 ,2023
        </a>
        <div class="logged-in">
            <a href="./login.html" class="login-button btn">
                Login / Register
            </a>
        </div>
    </header>

    <main class="container">
        <section class="section-comments">

            <div class="comment-box">
                <a class="comment-header">
                    <h2>ChatGPT opinions!!!!</h2>
                    <p>Posted by <span>Johnny Rogers</span> on 17/02/2023</p>
                </a>
                <a class="comment-message">
                    <p>
                        As you've probably noticed, ChatGBT has taken the search world by storm. What are your opinions
                        about it? Will it help us or will it cause more issues and require fewer programmers to work
                        harder?
                    </p>
                </a>
                <div class="comment-footer">
                    <a href="https://github.com/cdennis27" class="add-comment-btn btn">Add Comments</a>
                    <a class="comments-length">Comments: 0</a>
                </div>
                <div class="comment-input">
                    <textarea class="comment-input-text" placeholder="Add a comment"></textarea>
                </div>
            </div>

            <div class="board-add">
                <div class="board-submit">
                    <a href="" class="add-board-btn btn">Add New Board</a>
                </div>
                <div class="board-title-input">
                    <h2 class="board-title">Title:</h2>
                    <textarea class="title-input-text" placeholder="Add a title"></textarea>
                </div>
                <div class="board-message-input">
                    <h2 class="board-message">Message:</h2>
                    <textarea class="message-input-text" placeholder="Add a comment"></textarea>
                </div>
            </div>

        </section>






    </main>

    <footer class="footer">
        <h2>Contact information</h2>

    </footer>
    </div>

</body>