<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebDevs Blog</title>
    <link rel="icon" type="icon" href="/images/logoWithoutText.png">
    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>
    <main>

        <header class="header-bar">
            <a href="./layouts/main.html" class="home-btn">
                Home
            </a>
            <a href="./dashboard.html" class="dash-btn">
                Dashboard
            </a>
            <a href="./layouts/main.html" class="date">
                February 17 ,2023
            </a>
            <div class="logged-in">
                <a href="./login.html" class="login-button btn">
                    Login / Register
                </a>
            </div>
        </header>

        <div class="body-login">
            <section class="section-login">
                <h2>Login</h2>

                <form class="form login-form">
                    <div class="form-group">
                        <label for="email-login">Email:</label>
                        <input class="form-input" type="text" id="email-login" />
                    </div>
                    <div class="form-group">
                        <label for="password-login">Password:</label>
                        <input class="form-input" type="password" id="password-login" />
                    </div>
                    <div class="form-group center">
                        <button class="btn" type="submit">Login</button>
                    </div>
                </form>
            </section>
            <section class="section-signup">

                <h2>Register</h2>

                <form class="form signup-form">
                    <div class="form-group">
                        <label for="name-signup">Name:</label>
                        <input class="form-input" type="text" id="name-signup" />
                    </div>
                    <div class="form-group">
                        <label for="email-signup">Email:</label>
                        <input class="form-input" type="text" id="email-signup" />
                    </div>
                    <div class="form-group">
                        <label for="password-signup">Password:</label>
                        <input class="form-input" type="password" id="password-signup" />
                    </div>
                    <div class="form-group center">
                        <button class="submit-btn btn" type="submit">Signup</button>
                    </div>
                </form>
            </section>
        </div>

    </main>

    <footer class="footer">
        <h2>Contact information</h2>

    </footer>
    </div>

</body>

<script src="./js/login.js"></script>